{% load static %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Lindes CT - An Efficient Denoising Tool</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<!-- Pogo Slider CSS -->
<link rel="stylesheet" href="{% static 'css/pogo-slider.min.css' %}">
<!-- Site CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<style>
	.slider-image-1 {
    background-image: url('{% static "images/3.0.jpg" %}');
}
.slider-image-2 {
    background-image: url('{% static "images/2.3.jpg" %}');
}
.slider-image-3 {
    background-image: url('{% static "images/3rdsliderimagemain.png" %}');
}
</style>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="#home">Home</a></li>
                        <li><a class="nav-link" href="#about">About Us</a></li>
                        <li><a class="nav-link" href="#services">Training Parameters</a></li>
						<li><a class="nav-link" href="{% url 'model' %}">Model</a></li>
						<!--<li><a class="nav-link" href="#appointment">Appointment</a></li>
                        <li><a class="nav-link" href="#gallery">Gallery</a></li>
						<li><a class="nav-link" href="#team">Doctor</a></li>
                        <li><a class="nav-link" href="#blog">Blog</a></li>
						<li><a class="nav-link" href="#contact">Contact</a></li>-->
                    </ul>
                </div>
            </div>
        </nav>
	</header>
	<!-- End header -->
	
	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" id="js-main-slider">
					<div class="pogoSlider-slide slider-image-1" data-transition="fade" data-duration="1500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Welcome to Lindes CT</h1>
								<p>An User Friendly tool to denoise your CT scans</p>
								<a href="#about" class="btn">Scroll down to learn more</a>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide slider-image-2" data-transition="fade" data-duration="1500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Denoise CT scans with the help of cutting edge technology and advancements of machine learning</h1>
								<!--<p>Fusce convallis ante id purus sagittis malesuada. Sed erat ipsum</p>-->
								<a href="{% url 'model' %}" class="btn">Use the model</a>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide slider-image-3" data-transition="fade" data-duration="1500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Retrieve and download the denoised image in best resolution within seconds</h1>
								<!--<p>Fusce convallis ante id purus sagittis malesuada. Sed erat ipsum </p>-->
								<a href="#services" class="btn">Learn about the model</a>
							</div>
						</div>
					</div>
				</div><!-- .pogoSlider -->
			</div>
		</div>
	</div>
	<!-- End Banner -->
	
	<!-- Start About us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2>About</h2>
							<p>Integration of Healthcare and Machine Learning paves the way for a healthier future</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<h2> Welcome to Lindes CT </h2>
								<p>Using the Residual Encoder Decoder Architecture we have trained a RED-CNN model to denoise CT scans containing Poisson, Periodic and Gaussian noise. The model can denoise the image within seconds with high accuracy and throughput, which ultimately aids in diagnosis and research. We have curated datasets from various trusted medical data repositories</p>
								<p>The encoder extracts hierarchical features from the noisy CT scan, capturing both low-level details (e.g., edges) and high-level structures (e.g., organs). The decoder reconstructs the clean image from these features, progressively refining the output to remove noise while preserving critical anatomical details. By effectively denoising low-dose CT scans, our solution allows doctors to use lower radiation doses without compromising image quality, enhancing patient safety.</p>
								<a href="#" class="new-btn-d br-2">Read More</a>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="about-m">
									<ul id="banner">
										<li>
											<img src="{% static 'images/3rd_image.jpg' %}" alt="">
										</li>
										<li>
											<img src="{% static 'images/about_img_1_modified.jpg' %}" alt="">
										</li>
										<li>
											<img src="{% static 'images/about_img_3_resized.jpg' %}" alt="">
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About us -->
	<!-- End About us -->
	
	<!-- Start Services -->
	<div id="services" class="services-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Training Parameters</h2>
						<p>Below are the information on training</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<div class="owl-carousel owl-theme">
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-h-square" aria-hidden="true"></i></div>
								<h3 class="title">Model Architecture</h3>
								<p class="description">
									Harnessing convolutional and transposed convolutional layers for high-quality medical image restoration.
								</p>
								<a href="#" class="new-btn-d br-2">Read More</a>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-heart" aria-hidden="true"></i></div>
								<h3 class="title">Noises present</h3>
								<p class="description">
									Our RED-CNN model effectively denoises medical images affected by Gaussian, Poisson, and periodic noise.
								</p>
								<a href="#" class="new-btn-d br-2">Read More</a>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></div>
								<h3 class="title">Skip connections</h3>
								<p class="description">
									RED-CNN integrates skip connections to preserve image details while removing noise.<br><br>
								</p>
								<a href="#" class="new-btn-d br-2">Read More</a>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-stethoscope" aria-hidden="true"></i></div>
								<h3 class="title">Medical Imaging</h3>
								<p class="description">
									Designed for DICOM data and IMA data format, ensuring accurate denoising of CT scans.<br><br>
								</p>
								<a href="#" class="new-btn-d br-2">Read More</a>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-wheelchair" aria-hidden="true"></i></div>
								<h3 class="title">Epochs & Learning Rate</h3>
								<p class="description">
									The model is trained for 10 epochs and 1e-4 as the learning rate for stable and effective weight updates.<br><br>
								</p>
								<a href="#" class="new-btn-d br-2">Read More</a>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-plus-square" aria-hidden="true"></i></div>
								<h3 class="title">Loss Function</h3>
								<p class="description">
									Mean Squared Error (MSE Loss) to minimize pixel-wise differences between noisy and clean images.<br><br>
								</p>
								<a href="#" class="new-btn-d br-2">Read More</a>
							</div>
						</div>
						<div class="item"> 
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-medkit" aria-hidden="true"></i></div>
								<h3 class="title">Optimizer</h3>
								<p class="description">
									Adam optimizer is used for adaptive and efficient parameter updates.<br><br><br>
								</p>
								<a href="#" class="new-btn-d br-2">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
	<!-- End Services -->
	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">A project by Team Vander Lindes. <a href="#">Lindes CT</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->
	
	<a href="#" id="scroll-to-top" class="new-btn-d br-2"><i class="fa fa-angle-up"></i></a>

	<!-- ALL JS FILES -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.pogo-slider.min.js' %}"></script> 
	<script src="{% static 'js/slider-index.js' %}"></script>
	<script src="{% static 'js/smoothscroll.js' %}"></script>
	<script src="{% static 'js/TweenMax.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
	<script src="{% static 'js/isotope.min.js' %}"></script>	
	<script src="{% static 'js/images-loded.min.js' %}"></script>	
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>